<section>
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 order-1 order-lg-2 vertical-center">
                <img src="/assets/images/barish-coffee-about.jpeg" alt="image description">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content justify-center">
                <div class="section-title">
                    <h2 class="header">Kudukkans barish coffee</h2>
                    <p>Who We Are.</p>
                </div>
                <p> Barish Coffee has made its mark quite significantly in the food and beverage industry, despite being only a few years old. This stands to be a landmark achievement for us and the local coffee brewers of our land to be recognized in distinguished institutes. This has largely been made possible through the professional efforts of our team that strives every day to become better at our work. </p>
                    <p>
                        We are known best for our coffee and the multiple varieties that it comes in. Brewed to sheer perfection, we promise you the perfect blend of sweet and bitter much like life itself. Along with this, we also specialize in our Broasted Chicken and Al-Faham both of which have had customers come in from far and wide. We would love to serve you in our humble quarters too and hope to see you very soon!
                    </p> 
                    <a routerlink="/about" href="/about"><button class="round-btn btn-for-light">Read more</button></a>    
           </div>
        
        </div>
    </div>
</section>