<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between" style="position: relative;">
        <div class="logo" [routerLink]="['/']"><img src="/assets/images/logo.jpeg" routerlink="/home" href="/home" alt="Sandhu Coffee"></div>
        <h1  class="logo me-auto me-lg-0"><a  routerlink="/" href="/"></a></h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li ><a routerlinkactive="active" routerlink="/about" class="nav-link" href="/about">About Us</a></li>
                <li ><a routerlinkactive="active" routerlink="/menu" class="nav-link" href="/menu">Menu</a></li>
                <li ><a routerlinkactive="active" routerlink="/amenities" class="nav-link" href="/amenities" >Amenities</a></li>
                <li ><a routerlinkactive="active" routerlink="/gallery" class="nav-link" href="/gallery">Gallery</a></li>
                <li ><a routerlinkactive="active" class="nav-link" href="/careers">Careers</a></li>
                <li ><a routerlinkactive="active" routerlink="/branches" class="nav-link" href="/branches">Our Branches</a></li>
                <li ><a routerlinkactive="active" routerlink="/franchise" class="nav-link" href="/franchise">Franchise</a></li>
            </ul>
            <i class="bi mobile-nav-toggle bi-list"></i>
        </nav>
        <a routerlink="/contact" class="contact-us d-lg-flex" href="/contact">Contact Us</a>
    </div>
</header>
  