<section>
    <div class="container" style="margin-top: 150px;">
        <div class="row g-5">
            <div class="col-lg-6 order-1 order-lg-2 vertical-center">
                <img src="/assets/images/sandhu-coffee-about.jpeg" alt="image description">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content justify-center">
                <div class="section-title">
                    <h2 class="header">Kudukkans sandhu coffee</h2>
                    
                    <p>About Us</p>
                </div>
                <p>Here to quench all your cravings, we at Barish Coffee promise to give you an experience you will keep coming back for. We not only provide absolute lip-smacking treats but also an experience for all your senses. One can come with only an empty stomach but be assured to leave with a wholesome fulfillment of all they can perceive, as we pay attention to the ambiance, taste, hygiene, and experience, ensuring we don’t miss out on any aspect of having a customer leaving anything less than fully satisfied. </p>
                    <p>
                        We are famously known for our Broasted Chicken, Al-Faham, and our in-house coffee made with love from scratch. We have been loved by the public for six years now and plan on spreading this love outside our four existing branches very soon. Roasted and grilled to absolute perfection, our chicken is best-selling for its tones of fiery spice, tasteful seasoning, and hot serving. Along with this, we brew our own coffee with love and care for an art that we’ve mastered over the years. With the perfect combination of sweet and strong, our coffee can cure whatever blues you’re facing that day, bringing warm joy to the world around.
                    </p> 
                    <a routerlink="/about" href="/about"><button class="round-btn btn-for-light">Read more</button></a>    
           </div>
        
        </div>
    </div>
</section>
<section style="background:white !important">
    <div class="container">
        <div class="row g-5 mt-4">
            <div class="col-lg-6 vertical-center" style="align-self: center;">
                <img src="/assets/images/download.jpeg" alt="image description">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content justify-center">
                <div class="section-title">
                    <h2 class="">Kudukkans sandhu coffee</h2>
                    
                    <p>About Us</p>
                </div>
                <p style="color:black">We aim high and are certain with our success rate over the past few years, we will soon be one of the leading food chains in the country. Hygiene, quality, and taste are our top priorities and we ensure those in for every one of your visits. These are closely followed by a warm and comfortable ambiance that we believe perfectly complements what we serve. Our staff is extremely well behaved as you, our customers are what we do this for, and if your experience says otherwise, we duly request you inform us! </p>
                    <p style="color:black">
                        We currently have four running branches, with a fifth opening in Mumbai. As we push our boundaries and expand, we thank you for all the love over the last few years since our opening in 2017, you have given us the encouragement and confidence of knowing we will succeed in all our future ventures. To all the readers and potential customers, we hope to serve you very soon too, our spices, herbs, and coffee grounds all await your presence at Barish Coffee!
                    </p> 
            </div>
        
        </div>
    </div>
</section>