<section class="background-img">
<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
    <div class="col-lg-6 my-5 p-5" style="background-color: black; border-radius: 20px;">
        <div class="section-title">
            <p>Discover our menu</p>
        </div>
        <p>We designed our menu to offer you a true taste of food.Where everything has been carefully created to provide an experience where flavors are perfectly combined.</p>
        <a routerlink="/about" href="/about"><button class="round-btn btn-for-light">Read more</button></a>  
    
    </div>
    </div>
   
</div>

</section>
