<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h5 style="color:black">
                    Kudukkan's Barish Coffee Restaurant
                </h5>
            </div>
            <div class="col-lg-6">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Gallery</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Our Branches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact us</a>
                    </li>
                  </ul>

            </div>
            
            
        </div>

    </div>
    <!-- Copyright -->
  <div class="text-center p-4" style="background-color: black">
    © Copyright Barish Coffee. All Rights Reserved. 
    <!-- <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->
  </footer>