
  <app-header></app-header>
  <ngb-carousel #carousel [interval]="2000" [showNavigationArrows]="false" [showNavigationIndicators]="false" [pauseOnHover]="false" [pauseOnFocus]="false">
    
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      
      <!-- <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer"> -->
        <div class="picsum-img-wrapper">
          <img [src]="img" alt="image {{i + 1}} description">
        </div>
      <!-- </a> -->
    </ng-template>
  </ngb-carousel>
  <!-- <app-home></app-home> -->
  <router-outlet></router-outlet>
  <!-- <app-whoweare></app-whoweare>
  <app-menu></app-menu>
  <app-home></app-home> -->
  
