
            
            <section>
                <div style="min-height: 110px" >
                    <img style="width: 100%;
                    max-height: 400px;
                    object-fit: cover;" src="/assets/images/hero-bg.jpeg" alt="image description">
                </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>Select Branch</option>
                    <option *ngFor="let branch of branches; index as i" value="">{{branch}}</option>
                  </select>
              </div>
              <div class="col">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                  <option selected>Select Category</option>
                  <option *ngFor="let item of menuOptions; index as i" value="1">{{item}}</option>
                </select>
              </div>
              <div class="col"></div>
              <div class="col"></div>
        </div>
        <!-- <div class="row g-5 mt-4">
            <div>
                <div class="section-title">
                    <h2 class="">Kudukkans sandhu coffee</h2>
                    
                    <p>About Us</p>
                </div>
                <p style="color:black">We aim high and are certain with our success rate over the past few years, we will soon be one of the leading food chains in the country. Hygiene, quality, and taste are our top priorities and we ensure those in for every one of your visits. These are closely followed by a warm and comfortable ambiance that we believe perfectly complements what we serve. Our staff is extremely well behaved as you, our customers are what we do this for, and if your experience says otherwise, we duly request you inform us! </p>
                    <p style="color:black">
                        We currently have four running branches, with a fifth opening in Mumbai. As we push our boundaries and expand, we thank you for all the love over the last few years since our opening in 2017, you have given us the encouragement and confidence of knowing we will succeed in all our future ventures. To all the readers and potential customers, we hope to serve you very soon too, our spices, herbs, and coffee grounds all await your presence at Barish Coffee!
                    </p> 
            </div>
        
        </div> -->
    </div>
</section>