<section>
    <div class="container">
        <div class="row">
            <h2>welcome</h2>
        </div>
        <div class="row header">
        <p>Kudukkans Sandhu Coffee</p>
        </div>
        <div class="row feature">
            <div class="col">
                <h4>Heathy & hygienic.</h4>
                <p>Nothing matters more to us than quality and cleanliness. To ensure our customers the absolute best products and settings, we work every day to improve ourselves in this field and make sure there are no loose threads. We only promise you the best.</p>
            </div>
            <div class="col">
                <h4>Affordable Prices.</h4>
                <p>We provide all our services within affordable ranges while ensuring no compromise with quality. Our doors are always open for you!</p>
            </div>
            <div class="col">
                <h4> Friendly environment.</h4>
                <p>While food and drinks are our specialties, we also carefully curate the ambiance and environment to be certain of giving you nothing but a good time. Our waiters patiently await your response happily and we eagerly await your arrival. Friendliness and a good time are a given when you step in, ensuring you’ll come back for more!</p>
            </div>
        </div>
    </div>
</section>

